@import "variables.css";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,300;0,500;0,600;0,700;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@700&display=swap");

@import "base.css";
@import "layout.css";

@import "components-header.css";
@import "components-search.css";
@import "components-weather.css";
@import "components-dropdown.css";

@import "states.css";

@import "responsive-tablet.css";
@import "responsive-desktop.css";
