:root {
  /* Neutral */
  --neutral-900: hsl(243, 96%, 9%);
  --neutral-800: hsl(243, 27%, 20%);
  --neutral-700: hsl(243, 23%, 24%);
  --neutral-600: hsl(243, 23%, 30%);
  --neutral-300: hsl(240, 6%, 70%);
  --neutral-200: hsl(250, 6%, 84%);
  --neutral-0: hsl(0, 0%, 100%);

  /* Orange */
  --orange-500: hsl(28, 100%, 52%);

  /* Blue */
  --blue-500: hsl(233, 67%, 56%);
  --blue-700: hsl(248, 70%, 36%);
}

[data-theme="light"] {
  /* Neutrals */
  --neutral-900: hsl(230, 35%, 16%);
  --neutral-700: hsl(230, 30%, 34%);
  --neutral-600: hsl(230, 25%, 52%);

  --neutral-300: hsl(0, 0%, 100%);
  --neutral-200: hsl(230, 60%, 96%);
  --neutral-0: hsl(230, 70%, 98%);

  /* Primary */
  --blue-500: hsl(230, 95%, 60%);
  --blue-700: hsl(230, 67%, 48%);
}
